<ul class="nav nav-underline">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Latest Match</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Coming Match</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Pre-season</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#">Live Games</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#">Fun Football</a>
    </li>
  </ul>
  <table class="table table-striped mt-3">
  <tbody>
    <tr>
      <td class="align-self-center">
        <img  class="img_icon" src="https://media.api-sports.io/football/teams/15259.png" alt="">
        <span class="nom_icon">Argentine</span>
        <span class="resultats">1-2</span>
        <span class="nom_icon">Argentine</span>
        <img  class="img_icon" src="https://media.api-sports.io/football/teams/15259.png" alt="">
        <span class="ft">Full-Time</span>


      </td>
    </tr>
    <tr>
      <td>Jacob</td>

    </tr>
    <tr>
      <td>Jacob</td>
 
    </tr>
  </tbody>
</table>